<ion-view  view-title="Change Password">
    <!--<ion-header-bar class="headerjudul"><p>Change Password</p></ion-header-bar>-->

    <ion-content class="frmInput2">
        <div class="list">
            
            <form name="cpform">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Current Password</span>
                    <input name="pass" type="password" ng-model="change.password" placeholder="Current Password" required>
                    <span ng-show="cpform.pass.$dirty && cpform.pass.$invalid">
                        <span ng-show="cpform.pass.$error.required">*is required.</span>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">New Password</span>
                    <input name="newPass" type="password" ng-model="change.newpass" placeholder="New Password" required>
                    <span ng-show="cpform.newPass.$dirty && cpform.newPass.$invalid">
                        <span ng-show="cpform.newPass.$error.required">*is required.</span>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Confirm Password</span>
                    <input name="confPass" type="password" ng-model="change.confpass" placeholder="Confirm Password" required>
                    <span ng-show="cpform.confPass.$dirty && cpform.confPass.$invalid">
                        <span ng-show="cpform.confPass.$error.required">*is required.</span>
                    </span>
                </label>
                <br />
                <button ng-disabled="cpform.pass.$dirty && cpform.pass.$invalid ||cpform.newpass.$dirty && cpform.newpass.$invalid ||cpform.confpass.$dirty && cpform.confpass.$invalid"
                        class="button icon-right ion-ios-arrow-forward" ng-click="save()">
                    SAVE
                </button>
                </form>
</div>
        <!--<form name="cpform">
            <label>Current Password</label>
            <span style="color:#ffdc7d" ng-show="cpform.pass.$dirty && cpform.pass.$invalid">
                <span ng-show="cpform.pass.$error.required">*is required.</span>
            </span>
            <input name="pass" type="password" ng-model="change.password" required>
            <label>New Password</label>
            <span style="color:#ffdc7d" ng-show="cpform.newpass.$dirty && cpform.newpass.$invalid">
                <span ng-show="cpform.newpass.$error.required">*is required.</span>
            </span>
            <input name="newpass" type="password" ng-model="change.newpass" required>
            <label>Confirm Password</label>
            <input type="password" ng-model="change.confpass">
            <button ng-disabled="cpform.pass.$dirty && cpform.pass.$invalid ||cpform.newpass.$dirty && cpform.newpass.$invalid"
                    class="button icon-right ion-chevron-right" ng-click="save()">
                SAVE
            </button>
        </form>-->
    </ion-content>

</ion-view>